/* colors:
#f4f4e5 - cream 
#e5cbff - light purple 
#5f2e90 - dark purple
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    direction: rtl;
    background-color: #e5cbff
}

a {
    color: #5f2e90;
    text-decoration: none;
}

a:visited {
    color: #5f2e90;
}

.bg-primary-subtle {
    background-color: #f4f4e55c !important;
}

.btn-outline-light {
    background-color: #f4f4e5b1 !important;
}

.top {
    background-color: #f4f4e5;
    position: sticky;
    top: 0%;
    height: 30px;
    font: normal normal  10px/30px Varela Round;
    display: flex;
    direction: rtl;
    gap: 20px;
    justify-content: center;
    z-index: 2;

}

#opening {
    height: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 30px;
    scroll-margin-top: 70px;
    font: normal normal  10px/30px Varela Round;
    color: #5f2e90;
}

.tech {
    background-color: #f4f4e5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tech>img {
    width: 50px;
}

#about {
    height: 300px;
    text-align: center;
    font: normal normal 10px/118px Varela Round;
    color: #5f2e90;
    margin-bottom: 25px;
}

#gallery {
    height: 750px;
    margin-bottom: 25px;
    text-align: center;
    font: normal normal 10px/118px Varela Round;
    color: #5f2e90;
    scroll-margin-top: 40px;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

.card {
    margin-top: -15px;
    box-shadow: 5px 5px 15px #8445c4;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

#contacts {
    height: 350px;
    text-align: center;
    font: normal normal 10px/22px Varela Round;
    color: #5f2e90;

}

.container-form {
    display: flex;
    justify-content: center;
    background-color: #f4f4e55c;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #8445c4;
    width: 60%;
    height: 320px;
    margin: auto;
    padding: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input>input,
textarea {    
    margin-bottom: 12px;
    border: 0.1px solid #ffffffd5;
    border-radius: 5px;
    background-color: #f4f4e5b1;
    text-align: center;
    box-shadow: 1px 2px 20px -10px black;
}

#sub {
    font: normal normal 13px/25px Varela Round;
    color: #5f2e90;
    margin-bottom: 12px;
    border: 0.1px solid #ffffffd5;
    border-radius: 5px;
    background-color: #f4f4e5b1;
    text-align: center;
    box-shadow: 1px 2px 20px -10px black;
    width: 30%;
    margin: auto;
}

.credit {
    background-color: #f4f4e5;
    color: #5f2e90;
    height: 30px;
    display: flex;
    font: normal normal 500 12px/30px Varela Round;
    justify-content: space-between;
}

.container {
    height: 410px;
    display: block;

}

.pic>img {
    width: 50%;
    margin-top: 60px;
    margin-right: 25%;
    box-shadow: 5px 5px 15px #8445c4;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#bt {
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
    border: 0.1px solid #ffffffd5;
    border-radius: 5px;
    background-color: #f4f4e5e1;
    color: #5f2e90;
    font: normal normal 10px/30px Varela Round;
    text-align: center;
    box-shadow: 2px 3px 10px;
}

#bt:hover,
#sub:hover,
.btn:active,
.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: #8445c4 !important;
}
