body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: rgb(62, 47, 77);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 6.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: rgb(92, 126, 114);
    cursor: pointer; 
    transition: 0.3s ease-in-out;
}

.choices button:hover {
    transform: scale(1.1);
    background-color:rgb(153, 216, 195);
}

#restartGame {
    font-size: 1.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: rgb(92, 126, 114);
    cursor: pointer; 
    transition: 0.3s ease-in-out;
}

#restartGame:hover {
    transform: scale(1.1);
    background-color:rgb(153, 216, 195);
}

#playerDisplay,
#pcDisplay,
#winner{
    font-size: 2rem;
}

#resultDisplay{
    font-size: 3.5rem;
    margin-top: 20px;
}

#endGame{
    font-size: 5.5rem;
    margin-top: 20px;
}

.greenText{
    color:rgb(28, 134, 28);
}

.redText{
    color:rgb(179, 15, 15);
}

.orangeText{
    color: rgb(255, 150, 22);;
}

.scoreDisplay,
.winnerDisplay{
    font-size: 1.4rem; 
}