* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-primary-subtle {
    background-color: #e5eeff !important;
}

.text-dark {
    color: #020253 !important;
}

html {
    direction: rtl;
    max-height: 1920px;
    max-width: 1080px;
}

.sticky-top {
    width: 20%;
    height: 10px;
}

.phone {
    width: 310px;
}

.phone>img {
    width: 310px;
    margin-right: 60px;

}

.form {
    margin-right: 40%;
    margin-top: -410px;
    width: 60%;
}

.form>h1 {
    text-align: right;
    font: 36px/57px Heebo;
}

.form>p {
    text-align: right;
    font: 12px/17px Heebo;
    width: 35%;
}

#email,
#name {
    width: 319px;
}

.form>button {
    font: bold 12px/12px Heebo;
    width: 12%;
}

label {
    text-align: right;
    font: bold 10px/4px Heebo;
}

form {
    gap: 10px;
    width: 100%;
}

.border-bottom {
    border-bottom-width: 3px !important;
}


.social-bottom>button,
.wa-top>button {
    width: 45px;
    height: 45px;
}

.wa-top {
    margin-right: 110%;
    margin-top: 5vh;
}

.wa-top>button>img {
    width: 26px;
    margin-right: -4px !important;
}


.social-bottom {
    position: absolute;
    width: 23%;
    display: flex;
    justify-content: space-around;
    margin-right: 75%;


}

button>img {
    margin-bottom: 3px;
    margin-left: 1px;
    width: 17px;
}

.bottom {
    position: absolute;
    left: 0;
    margin-top: 17vh;
    width: 50%;
    height: 10px;
}

@media (max-width: 768px) {

    html {
        overflow-x: hidden;
        margin: 0;
        height: 100%;
    }

    body {
        margin: 10px;
        height: 100%;

    }

    .wa-top {
        display: none;
    }

    .sticky-top {
        height: 10px;
        width: 90%;
        margin-bottom: 50px;
    }

    .phone>img {
        width: 20%;
        height: auto;
        margin-right: 140px;
        margin-bottom: 20px;
        align-items: center;
  
    }


    form {
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
    }

    .f-con {
        margin: auto;
        width: 100% !important;
    }

    #email,
    #name {
        margin-left: 200px !important;
        width: 100% !important;
    }

    #name2 {
        margin: auto;
        height: 80px;
    }

    .form>h1 {
        font-size: 34px;
        text-align: center;

    }

    .form>p {
        width: 70%;
        margin: auto;
        font-size: 13px;
        text-align: center;
    }

    .form>button {
        align-items: center;
        text-align: center;
        font: bold 15px/12px Heebo;
        height: 40px;
        width: 100%;
    }

    .social-bottom {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        left: 0;
        bottom: -200px;
        
    }

    .bottom { 
        position: static;
        width: 100%;
        height: 10px;
        margin-bottom: 300px;
        

    }
}

@media (max-height: 952px){

    .bottom { 
        position: fixed;
    }
    
}